* {
  padding: 0;
  margin: 0;
}
/* 首頁區 */
#home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: darkmagenta;
}

#container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#start {
  width: 500px;
  height: 200px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

#start h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

#start button {
  width: 80%;
  height: 50%;
  font-size: 2rem;
  border-radius: 1rem;
  font-weight: 400;
  border: 3px solid black;
}

#start button:hover {
  background: black;
  color: white;
  border: 3px solid white;
  transition: 0.2s;
}

/* 遊戲區域 */
#game {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: darkmagenta;
}

#gameBox {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#backHome {
  width: 8%;
  height: 8%;
  font-size: 1.5rem;
  border-radius: 1rem;
  font-weight: 400;
  border: 3px solid black;
  position: absolute;
  top: 2%;
  right: 2%;
}

#backHome:hover {
  background: black;
  color: white;
  border: 3px solid white;
  transition: 0.2s;
}

.card {
  width: 150px;
  height: 250px;
  position: relative;
  float: left;
  margin: 3px 18px;
  transition: transform 1s;
  /* 設定子元素在 3D 空間內 */
  transform-style: preserve-3d;
}

.card-front {
  width: 100%;
  height: 100%;
  background-image: url(../images/0.jpg);
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  /* 設定隱藏背面 */
  backface-visibility: hidden;
}

.card-back {
  width: 100%;
  height: 100%;
  background-image: url(../images/back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transform: rotateY(180deg);
  /* 設定隱藏背面 */
  backface-visibility: hidden;
}

.card-close {
  transform: rotateY(180deg);
}

/* 遊戲結束區 */
#gameEnd {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: darkmagenta;
}